.title{
    -fx-border-radius: 99/95%;
    -fx-border-color: #F60606;
    -fx-text-fill: dimgrey;

}
.name{
    -fx-border-color:   #9999ff;


}
.price{
    -fx-border-color:  #28a428;


}
.number{
    -fx-border-color:  #ff8080;


}
.category{
    -fx-border-color: #ffb84d;


}
.Properties{
    -fx-border-color:   #66a3ff;


}