.background {
    -fx-background-image: url("PinClipart.com_square-frame-clipart_4974573.png");
    -fx-background-size: contain ;
}
.button{
    -fx-background-color: white;
    -fx-border-color:  #cc0000;
}
.button:hover{
    -fx-background-color: #cc0000;
}