.base1{
    -fx-background-color: white;
}
.base2{
    -fx-background-color: #e6e6e6;
}
.pane1{
    -fx-background-color:#87be9b;
}
.pane2{
    -fx-background-color: #c2dac9;
}
.pane3{
    -fx-background-color: #fedfce;
}
.pane4{
    -fx-background-color: #eb514c;
}
.button1{
    -fx-background-color:#87be9b;
}
.button2{
    -fx-background-color: #c2dac9;
}
.button3{
    -fx-background-color: #fedfce;
}
.button4{
    -fx-background-color: #eb514c;
}
.taskbarButtons{
    -fx-background-color: whitesmoke;
}
.shoppingBag{
    -fx-background-image: url("icons8-shopping-basket-48.png");
    -fx-background-size: cover;
}
.rightTab{
    -fx-background-image: url("blurred-background-store-shopping-mall-blur-background-with-bokeh-vintage-filtered-image_1253-1414.jpg");
    -fx-background-size: cover;
}
.changePaneButton{
    -fx-background-image: url("icons8-arrow-pointing-left-48.png");
}
.leftTab{
    -fx-background-color: #161623;
}
.hideBrand{
    -fx-background-color: #161623;
}