.pane1{
    -fx-background-color:#87be9b;

}
.pane2{
    -fx-background-color: #c2dac9;
}
.pane3{
    -fx-background-color: #fedfce;
}
.pane4{
    -fx-background-color: #eb514c;
}
.button1{
    -fx-background-color:#87be9b;

}
.button2{
    -fx-background-color: #c2dac9;

}
.button3{
    -fx-background-color: #fedfce;

}
.button4{
    -fx-background-color: #eb514c;

}
.taskbarButtons{
    -fx-background-color: white;
}