.name{
    -fx-border-color: #e60000;
}
.startDate{
    -fx-border-color: #ffcc00;
}
.endDate{
    -fx-border-color: #ffcc00;
}
.percentage{
    -fx-border-color: #e60000;
}
.title{
    -fx-border-color: dimgrey ;
    -fx-border-radius: 99/95%;
}
.button{
    -fx-background-color: white;
    -fx-text-fill:#29a329 ;
    -fx-border-color: #29a329;
}