.productCard{
    -fx-background-color: white;
    -fx-border-width: 5px;
}
.productCard:hover{
    -fx-border-color:  	 #ffb3b3;

}
.title{
    -fx-border-radius: 99/7%;
    -fx-border-color: #F60606;
    -fx-text-fill: dimgrey;

}
.button{
    -fx-background-color: white;
    -fx-border-color: #F60606;
    -fx-text-fill: grey;
    -fx-border-radius: 99/999%;
}
.leftpaneColor{
    -fx-background-color: #9eedf6;
}.rightPane{
    -fx-background-color: #fdfdfd;
 }